{% include 'top.html' %}

<div class="content">
    <div class="container">
        <h1 class="title">Car Bays</h1>
        <div class="container">
          <h2>Jump To</h2>
            {% if searching == False%}
                <form class="pure-form pure-form-aligned" method ="GET" action="{{url_for('list_bays')}}">
                    <input type="hidden" name="previous" value="{{previous}}">
                    {% if size != 0 %}
                      <select name="level" id="zoom">
                      {% for level in levels %}
                          <option value="{{level[0]}}">{{level[0]}}</option>
                      {% endfor %}
                      </select>
                      <button class="flat" type="submit">Zoom In</button>
                    {% endif %}
                    {% if previous != 'Australia' %}
                        <button class="flat" name="out" value="OUT" type="submit">Zoom Out</button>
                    {% endif%}
                </form>
            {%endif%}
        </div>



        <div class="search">
            <form class="search-top" method="POST" action="{{url_for('list_bays')}}">
                <input type="text" name="search" placeholder="Search" autofocus required>
                <button class="flat" type="submit">Submit</button>
                <div class="clear"></div>
            </form>
        </div>
        <table class="styled">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Number of Cars</th>
                    <th>Map URL</th>
                </tr>
            </thead>
            <tbody>
                    {% for bay in bays %}
                    <tr>
                        <td><a href="{{url_for('list_bays')}}?bay={{ bay[0] }}">{{ bay[0] }}</a></td>
                        <td>{{ bay[1] }}</td>
                        <td>{{ bay[2] }}</td>
                        {% if bay[3] %}
                        <td><a href="{{bay[3]}}">map link</a></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'bottom.html' %}
